#todoList {
    left:50%;
    top:50%;
    width: 300px;
    margin-top: -10px;
    margin-left: -150px;
    position: absolute;
}
#textOfTask {
    border: hidden;
    border-bottom: solid 2px;
    height: 20px;
    margin: 0px;
    width: 300px;
    padding: 0px;
}
li {
    word-break: break-all;
    width:300px;
    list-style-type: none;
    margin: 5px;
    background-color: red;
    border-bottom: solid 2px;
}
.checked {
    text-decoration: line-through;
}
#buttonDel{
    float: right;
}
ul {
    padding: 0px;
    margin: 0px;
}